<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<form action="/Novo" method="POST" class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Cadastro de Aluno e Tema</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="idNome">Nome Professor</label>
  <div class="col-md-5">
  <input id="idNome" name="nomeProfessor" type="text" placeholder="Nome do professor" class="form-control input-md" required="">

  </div>
</div

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="idDepto">Nome Aluno</label>
  <div class="col-md-5">
  <input id="idDepto" name="alunoNome" type="text" placeholder="Nome do Aluno" class="form-control input-md" required="">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="idTema">Tema</label>
  <div class="col-md-5">
  <input id="idTema" name="tema" type="text" placeholder="Insira o tema " class="form-control input-md" required="">

  </div>
</div>






    <button id="idSalvar" name="" type="submit" class="btn btn-primary">Salvar</button>


</fieldset>
</form>
